
.dokuwiki div.plugin__displaynavfooter { text-align:center; }

.dokuwiki div.plugin__displaynavfooter a.float_left { float:left; }

/*.dokuwiki div.plugin__displaynavfooter a.float_center { margin-left:auto; margin-right:auto; }*/

.dokuwiki div.plugin__displaynavfooter a.float_right { float:right; }

.dokuwiki div.plugin__displaynavfooter div.float_clear { clear:both; }
